Repository BinaryStudioAcademy/bsa-2022-guruhub, changes with the labels that .github/labeler.yml gives for each.
All labels: beanstalk, documentation, frontend, mobile, root, shared, tests, workflows

.github/labeler.yml:

backend:
  - any ['backend/**/*', '!backend/tests/**/*']

beanstalk: .ebextensions/**/*

documentation: docs/**/*

frontend: frontend/**/*

mobile: mobile/**/*

root: '*'

shared: shared/**/*

tests: backend/tests/**/*

workflows: .github/**/*

GRHB-437: * changed telegram to non required
  backend/src/services/user-details/user-details.service.ts
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Labels: shared

GRHB-442: * now all user requests which take userDetails do not receive user's money balance
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/user/user.repository.ts
Labels: none

GRHB-437: * improved check
  backend/src/services/user-details/user-details.service.ts
Labels: none

GRHB-442: * user details does not return money balance by default
  backend/src/data/models/user-details/user-details.model.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/data/repositories/user-details/user-details.repository.ts
Labels: none

GRHB436: * changed user profile link
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Labels: frontend
