Repository BinaryStudioAcademy/bsa-2022-guruhub, pull requests merged in 2022-09, with the labels that each got.

#379 GRHB369: + missing response properties
  backend/src/documentation/schemas/interviews/interviews-get-by-id-response-dto.yaml
Labels: documentation

#378 GRHB368: + total property to response
  backend/src/documentation/schemas/interviews/interviews-get-all-response-dto.yaml
Labels: documentation

#367 GRHB-359: select a mentor
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/tab-navigation-item.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/choose-mentor/components/components.ts
  mobile/src/components/course/components/choose-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/choose-mentor/components/mentor-card/styles.ts
  mobile/src/components/course/components/choose-mentor/styles.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course/common/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-allowed-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
  mobile/src/navigation/course/styles.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#382 GRHB-382: * fix: add check on current user
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#365 GRHB-360: Become a mentor check
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/mentor/mentor.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/add-course/common/constants/constants.ts
  mobile/src/components/courses/components/add-course/common/constants/create-course.constant.ts
  mobile/src/components/interviews/interviews.tsx
  mobile/src/navigation/app/components/become-mentor/become-mentor.tsx
  mobile/src/navigation/app/components/become-mentor/styles.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/mentors-api/mentors-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/common.ts
  mobile/src/store/store.ts
Labels: mobile

#395 GRHB-392: * add scrollbar to all tables
  mobile/src/components/common/table/table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/users-table/components/action-cell/styles.ts
  mobile/src/components/uam/users-table/styles.ts
Labels: mobile

#389 GRHB-362: add 'see more' to course description
  mobile/src/components/course/common/constants/constants.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-description/course-description.tsx
  mobile/src/components/course/components/course-description/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/sanitize/get-text-without-tags/get-text-without-tags.helper.ts
  mobile/src/helpers/sanitize/sanitize.ts
Labels: mobile

#377 GRHB-268: Profile Screen
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/components/common/button/styles.ts
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
Labels: mobile

#359 Task/GRHB: 224 add user deletion tests to sign up test suite
  backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/users/users.service.ts
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
Labels: tests

#397 GRHB-358: + application history mobile
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/interview-note/interview-note-create-dto.type.ts
  mobile/src/common/types/interview-note/interview-note-get-request-arguments-dto.type.ts
  mobile/src/common/types/interview-note/interview-note.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
  mobile/src/components/interview/components/history/common.ts
  mobile/src/components/interview/components/history/components/components.ts
  mobile/src/components/interview/components/history/components/note-cards-list/components/components.ts
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/styles.ts
  mobile/src/components/interview/components/history/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/interview/actions.ts
  mobile/src/store/interview/common.ts
  mobile/src/store/interview/reducer.ts
  mobile/src/validation-schemas/interview-note/interview-note.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#376 GRHB-361: Add "Show password" button at the auth screens
  mobile/src/assets/icons/visibility-off.svg
  mobile/src/assets/icons/visibility.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/input-secure/input-secure.tsx
  mobile/src/components/common/input-secure/styles.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/common/input/styles.ts
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
Labels: mobile

#400 GRHB: fix concurrency in tests action
  backend/tests/.mocharc.js
Labels: tests

#406 GRHB-365: Change date format on tables
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#416 GRHB-408: + my students output
  mobile/src/common/enums/navigation/course-screen-name.enum.ts
  mobile/src/common/types/navigation/course-navigation-param-list.type.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/course-students/components/components.ts
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/course/components/course-students/components/student-card/styles.ts
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/components/course/components/course-students/styles.ts
  mobile/src/navigation/course/common/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-permitted-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#428 GRHB-445: * fix, change into courses-api getAll
  mobile/src/services/courses-api/courses-api.service.ts
Labels: mobile

#424 GRHB-398: Module screen
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/course-module-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/types/course-modules/course-modules.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/course-module-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course-module/components/about/about.tsx
  mobile/src/components/course-module/components/about/styles.ts
  mobile/src/components/course-module/components/components.ts
  mobile/src/components/course-module/components/task/styles.ts
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course-module/course-module.tsx
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/course.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
Labels: mobile

#445 GRHB-456: + labeler action
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: workflows

#444 GRHB-419: Add notifications about successfully added changes
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/uam-group-edit/actions.ts
  mobile/src/store/uam-groups-create/actions.ts
  mobile/src/store/user-details/actions.ts
Labels: mobile

#452 GRHB-404: * my mentor output
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#440 GRHB-442: + transactions table
  backend/src/data/migrations/20220906162845_add_transactions_table.ts
  readme.md
Labels: root

#421 GRHB-352: Resized chat icon
  frontend/src/assets/icons/chat-unread.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/components/common/header/styles.module.scss
Labels: frontend

#453 GRHB-459: * unify interview buttons
  mobile/src/components/common/button/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/buttons-section.tsx
  mobile/src/components/interview/components/applications/components/application-form/components/buttons-section/styles.ts
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
  mobile/src/components/interview/components/history/history.tsx
  mobile/src/components/interview/components/history/styles.ts
Labels: mobile

#448 GRHB-433: * chat functionallity
  mobile/src/assets/icons/message.svg
  mobile/src/assets/icons/send.svg
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat-conversation/components/components.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/get-default-message-payload.helper.ts
  mobile/src/components/chat-conversation/components/message-form/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/components/components.ts
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
  mobile/src/components/chat-conversation/styles.ts
  mobile/src/components/chat/chat.tsx
  mobile/src/components/chat/common/constants/constants.ts
  mobile/src/components/chat/components/components.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/components/conversation/styles.ts
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/components/chat/components/conversations-list/styles.ts
  mobile/src/components/chat/styles.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/services/chat-api/chat-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/chat/actions.ts
  mobile/src/store/chat/common.ts
  mobile/src/store/chat/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/validation-schemas/chat/chat.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#434 Task/grhb436 remove user details menu
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/authorized-menu/common.ts
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
  frontend/src/components/user-details/components/components.ts
  frontend/src/components/user-details/components/settings-wrapper/common.ts
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/settings-menu-item.tsx
  frontend/src/components/user-details/components/settings-wrapper/components/settings-menu-item/styles.module.scss
  frontend/src/components/user-details/components/settings-wrapper/settings-wrapper.tsx
  frontend/src/components/user-details/components/settings-wrapper/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/user-details/components/user-profile/styles.module.scss
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
  frontend/src/components/user-details/styles.module.scss
  frontend/src/components/user-details/user-details.tsx
Labels: frontend

#375 GRHB-348: * fixes for datepicker
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/user/user.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.module.scss
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/user/user-age.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/subtract-years/subtract-years.helper.ts
  shared/src/helpers/helpers.ts
Labels: frontend, shared

#456 GRHB-463: * add history no notes placeholder
  mobile/src/components/interview/components/history/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/history/components/note-cards-list/styles.ts
Labels: mobile

#457 Fix/grhb406 both students and choose mentor displayed
  frontend/src/components/course/course.tsx
Labels: frontend

#450 GRHB-395: Added ability to select status
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/interview/components/interview-item/helpers/get-interview-status-options-helper/get-interview-status-options-helper.ts
  frontend/src/components/interview/components/interview-item/helpers/helpers.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Labels: frontend, shared

#431 GRHB-401: Add date of birth field
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/user/user.enum.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/common/date-picker/styles.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
Labels: mobile, shared

#461 GRHB418: * select is searchable
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/select/styles.module.scss
Labels: frontend

#468 GRHB418: * fix input text color
  frontend/src/components/common/select/styles.module.scss
  frontend/src/components/common/select/styles.ts
Labels: frontend

#462 Fix/grhb462 popup button background
  frontend/src/components/common/header/components/menu-popup/menu-popup.tsx
Labels: frontend

#474 GRHB-395: * fixed default value and style
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
Labels: frontend

#467 GRHB-358: * change the format of a date for note-card
  mobile/src/components/interview/components/history/components/note-cards-list/components/note-card/note-card.tsx
Labels: mobile

#473 GRHB-459: * center uam create btn and remove redundant margin
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam/styles.ts
Labels: mobile

#479 Task/grhb471 pick interview date
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/common/datepicker/datepicker.tsx
  frontend/src/components/common/datepicker/styles.scss
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Labels: frontend, shared

#475 GRHB466: * fix different padding
  frontend/src/components/courses-management/components/category-cell/styles.module.scss
Labels: frontend

#478 GRHB-474: + stylized status
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
Labels: frontend

#430 GRHB-385: + student homework pages
  backend/src/api/tasks/tasks.api.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/models/task/task.model.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-by-course-id-mentee-id.yaml
  backend/src/documentation/endpoints/tasks/tasks-get-by-course-id-module-id-mentee-id.yaml
  backend/src/documentation/schemas/tasks/tasks-get-by-course-id-mentee-id-response-dto.yaml
  backend/src/documentation/schemas/tasks/tasks-get-by-course-id-module-id-mentee-id-response-dto.yaml
  backend/src/services/task/task.service.ts
  backend/src/validation-schemas/task/task.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/enums/api/api.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/task/task.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/course-module/components/task-manipulate/styles.module.scss
  frontend/src/components/course-module/components/task-manipulate/task-manipulate.tsx
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course/components/modules-cards-container/components/components.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
  frontend/src/components/course/components/modules-cards-container/helpers/get-task-for-module/get-task-for-module.ts
  frontend/src/components/course/components/modules-cards-container/helpers/helpers.ts
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/course/course.tsx
  frontend/src/components/dashboard/components/courses-list/components/course/course.tsx
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/helpers/app/app.ts
  frontend/src/helpers/app/generate-dynamic-path.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/services/tasks-api/tasks-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/enums/api/tasks-api-path.enum.ts
  shared/src/common/types/task/task-get-by-mentee-id-course-id-module-id-request-dto.type.ts
  shared/src/common/types/task/task-with-module-response-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/task/tasks-get-by-course-id-and-mentee-id-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/task/task-by-mentee-id-course-id-module-id-params.validation-schema.ts
  shared/src/validation-schemas/task/task.ts
  shared/src/validation-schemas/task/tasks-by-course-id-and-mentee-id.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: frontend, shared

#486 GRHB257: + added margin to the select on the interview page
  frontend/src/components/interview/components/interview-item/styles.module.scss
Labels: frontend

#484 GRHB-384: course categories page
  frontend/src/components/courses-management/common/types/courses-management-table-title-props.type.ts
  frontend/src/components/courses-management/common/types/types.ts
  frontend/src/components/courses-management/components/components.ts
  frontend/src/components/courses-management/components/title-cell/styles.module.scss
  frontend/src/components/courses-management/components/title-cell/title-cell.tsx
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
Labels: frontend

#487 GRHB-486: * add placeholder to other applications table
  mobile/src/components/interview/components/applications/components/other-applications/other-applications.tsx
  mobile/src/components/interview/components/applications/components/other-applications/styles.ts
Labels: mobile

#423 GRHB-225: add course creation tests
  .github/workflows/ci-integration.yml
  backend/src/common/types/types.ts
  backend/src/common/types/udemy/udemy.ts
  backend/tests/.env.example
  backend/tests/src/lib/common/enums/app/env.enum.ts
  backend/tests/src/lib/common/types/courses/course-create-expected.type.ts
  backend/tests/src/lib/common/types/courses/course-expected.type.ts
  backend/tests/src/lib/common/types/courses/courses.ts
  backend/tests/src/lib/common/types/courses/udemy-course-info.type.ts
  backend/tests/src/lib/common/types/modules/module-create-expected.type.ts
  backend/tests/src/lib/common/types/modules/modules.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/common/types/vendors/vendor-expected.type.ts
  backend/tests/src/lib/common/types/vendors/vendors.ts
  backend/tests/src/lib/helpers/helpers.ts
  backend/tests/src/lib/helpers/random/get-random-array-element/get-random-array-element.helper.ts
  backend/tests/src/lib/helpers/random/get-random-integer/get-random-integer.helper.ts
  backend/tests/src/lib/helpers/random/random.ts
  backend/tests/src/lib/services/categories/categories.service.ts
  backend/tests/src/lib/services/courses/courses.service.ts
  backend/tests/src/lib/services/http/http.service.ts
  backend/tests/src/lib/services/permissions/permissions.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  backend/tests/src/tests/json-schemas/categories/categories.ts
  backend/tests/src/tests/json-schemas/categories/with-dates/category-with-dates.schema.ts
  backend/tests/src/tests/json-schemas/categories/with-dates/with-dates.ts
  backend/tests/src/tests/json-schemas/courses/courses.ts
  backend/tests/src/tests/json-schemas/courses/create/course-create-response.schema.ts
  backend/tests/src/tests/json-schemas/courses/create/create.ts
  backend/tests/src/tests/json-schemas/courses/one/one-course.schema.ts
  backend/tests/src/tests/json-schemas/courses/one/one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/modules/all/all-modules.schema.ts
  backend/tests/src/tests/json-schemas/modules/all/all.ts
  backend/tests/src/tests/json-schemas/modules/modules.ts
  backend/tests/src/tests/json-schemas/modules/one/one-module.schema.ts
  backend/tests/src/tests/json-schemas/modules/one/one.ts
  backend/tests/src/tests/json-schemas/vendors/one/one-vendor.schema.ts
  backend/tests/src/tests/json-schemas/vendors/one/one.ts
  backend/tests/src/tests/json-schemas/vendors/vendors.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/categories/get-all/get-all-categories.spec.ts
  backend/tests/src/tests/specs/courses/create/create-course.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
  shared/src/common/types/types.ts
  shared/src/common/types/udemy/udemy-course-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-courses-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-module-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
  shared/src/common/types/udemy/udemy.ts
Labels: tests, workflows, shared

#492 GRHB-361: Add "Show password" button at the auth screens
  mobile/src/components/common/input-secure/input-secure.tsx
Labels: mobile

#489 GRHB-479: * set scrollbar to auto
  frontend/src/components/dashboard/components/categories-list/styles.module.scss
Labels: frontend

#488 GRHB-475: * fixed personal info styles
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
Labels: frontend

#458 GRHB-440: + date separator
  frontend/src/components/chats/components/current-chat/components/messages-list/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/helpers/group-messages-by-date.helper.ts
  frontend/src/components/chats/components/current-chat/components/messages-list/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/messages-list/messages-list.tsx
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/helpers/date/check-is-today/check-is-today.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/helpers.ts
Labels: frontend, shared

#491 GRHB-353: chat search
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/store/chats/reducer.ts
Labels: frontend

#463 Fix/grhb405 choose a mentor card or no students message is kept on sign out
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
Labels: frontend

#494 GRHB-484: + editing interview without interviewer
  backend/src/data/models/interview/interview.model.ts
  backend/src/data/repositories/interview/interview.repository.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  shared/src/common/types/interview/interviews-update-request-dto.type.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
Labels: frontend, shared

#497 GRHB-388: sql error is displayed at the uam page after trying to delete user
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Labels: shared

#496 fix/GRHB476 server returns 500 when creating a course that has no modules on udemy
  backend/src/services/udemy/udemy.service.ts
  backend/tests/src/lib/services/udemy/udemy.service.ts
  shared/src/common/types/udemy/udemy-modules-get-response-dto.type.ts
Labels: tests, shared

#470 GRHB-453: * add skipping authorization
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/navigation-item.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
  mobile/src/components/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/components/auth/components/sign-up-form/styles.ts
  mobile/src/components/chat/styles.ts
  mobile/src/components/common/link/link.tsx
  mobile/src/components/common/link/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/navigation/get-permitted-screens/get-permitted-screens.helper.ts
  mobile/src/helpers/navigation/get-screens-by-auth/get-screens-by-auth.helper.ts
  mobile/src/helpers/navigation/navigation.ts
  mobile/src/helpers/object/group-by-key/group-by-key.helper.ts
  mobile/src/helpers/object/object.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/app/common/types/drawer-group.type.ts
  mobile/src/navigation/app/common/types/drawer-navigation-item.type.ts
  mobile/src/navigation/app/common/types/drawer-navigation-list.type.ts
  mobile/src/navigation/app/common/types/types.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
  mobile/src/navigation/app/helpers/helpers.ts
  mobile/src/navigation/course/common/constants/constants.ts
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/course/helpers/get-permitted-screens.helper.ts
  mobile/src/navigation/course/helpers/helpers.ts
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/permissions-api/permissions-api.service.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/services/users-api/users-api.service.ts
Labels: mobile

#502 GRHB-451: * optimize modules list
  mobile/src/components/course/styles.ts
Labels: mobile

#509 GRHB-509: * cannot choose a mentor for a course without category
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Labels: frontend

#507 GRHB471: * fix clock icon color
  frontend/src/components/common/datepicker/styles.scss
Labels: frontend

#515 GRHB-335: - redundant slash
  frontend/src/services/groups-api/groups-api.service.ts
Labels: frontend

#510 GRHB-490: * fix error select a gender
  mobile/src/components/common/dropdown/dropdown.tsx
Labels: mobile

#480 GRHB-411: User change image functionality
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user-details/user-details-update-avatar-request-dto.type.ts
  mobile/src/common/types/user-details/user-details.ts
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/image/image.ts
  mobile/src/helpers/image/pick-image/pick-image.helper.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/store/user-details/actions.ts
  mobile/src/store/user-details/common.ts
  mobile/src/store/user-details/reducer.ts
  shared/src/common/enums/file/content-type.enum.ts
Labels: mobile, shared

#518 GRHB-511: * Course search does not work on mobile
  mobile/src/components/courses/courses.tsx
Labels: mobile

#469 fix/GRHB422 errors on sign out on course page while having a mentor
  frontend/src/components/course/course.tsx
Labels: frontend

#513 GRHB-478: * reset input field on course addition fail
  frontend/src/components/dashboard/components/add-course-modal/add-course-modal.tsx
Labels: frontend

#523 GRHB513: * fix other applications category icons
  frontend/src/components/interview/common/types/other-applications-table-row.type.ts
  frontend/src/components/interview/components/other-applications-table/components/category-cell/category-cell.tsx
  frontend/src/components/interview/components/other-applications-table/helpers/get-other-applications-rows/get-other-applications-rows.helper.ts
Labels: frontend

#525 GRHB-514: * fixed last message display
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/chats-list/styles.module.scss
Labels: frontend

#517 GRHB489: * fix custom validation messages
  shared/src/common/enums/chat/chat-validation-message.enum.ts
  shared/src/common/enums/chat/chat.ts
  shared/src/common/enums/course/course-validation-message.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/group/group-validation-message.enum.ts
  shared/src/common/enums/interview/interview-validation-message.enum.ts
  shared/src/common/enums/interview/interview.ts
  shared/src/common/enums/mentor/mentor-validation-message.enum.ts
  shared/src/common/enums/mentor/mentor.ts
  shared/src/common/enums/user-details/user-details-validation-message.enum.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/chat-message/chat-message-create-params.validation-schema.ts
  shared/src/validation-schemas/course-mentor/course-mentor-create.validation-schema.ts
  shared/src/validation-schemas/course/course-create.validation-schema.ts
  shared/src/validation-schemas/course/course-update-category.validation-schema.ts
  shared/src/validation-schemas/group/group-configure-client.validation-schema.ts
  shared/src/validation-schemas/group/group-create-client.validation-schema.ts
  shared/src/validation-schemas/group/group-create.validation-schema.ts
  shared/src/validation-schemas/group/group-update.validation-schema.ts
  shared/src/validation-schemas/interview-note/interview-note-create.validation-schema.ts
  shared/src/validation-schemas/interview/interview-create.validation-schema.ts
  shared/src/validation-schemas/interview/interview-update.validation-schema.ts
  shared/src/validation-schemas/mentor/mentor-create-body.validation-schema.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
  shared/src/validation-schemas/user/user-sign-in.validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Labels: shared

#514 GRHB-510: * change page size for udemy api
  backend/src/services/udemy/udemy.service.ts
Labels: backend

#503 GRHB-316: category update tests
  backend/tests/src/lib/common/types/courses/course-create-expected.type.ts
  backend/tests/src/lib/common/types/courses/course-expected.type.ts
  backend/tests/src/lib/common/types/courses/udemy-course-info.type.ts
  backend/tests/src/lib/common/types/modules/module-create-expected.type.ts
  backend/tests/src/lib/common/types/types.ts
  backend/tests/src/lib/common/types/users/user-create-expected.type.ts
  backend/tests/src/lib/common/types/users/user-expected.type.ts
  backend/tests/src/lib/common/types/users/users.ts
  backend/tests/src/lib/common/types/vendors/vendor-expected.type.ts
  backend/tests/src/lib/services/courses/courses.service.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/courses/update-category/update-course-category.spec.ts
  backend/tests/src/tests/specs/users/delete/delete.spec.ts
Labels: tests

#524 GRHB-430: my students output
  backend/src/common/enums/enums.ts
  backend/src/common/enums/group/group.ts
  backend/src/common/enums/group/protected-group-key.enum.ts
  backend/src/data/migrations/20220912095303_add_mentors_group.ts
  backend/src/data/repositories/group/group.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/group/group.service.ts
  backend/src/services/services.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Labels: shared, backend

#522 GRHB-440: + added year display, if year is not current
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/date-separator.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/date-separator/styles.module.scss
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/helpers.ts
  shared/src/helpers/date/check-is-current-year/check-is-current-year.helper.ts
  shared/src/helpers/date/date.ts
  shared/src/helpers/date/get-formatted-date/get-formatted-date.ts
  shared/src/helpers/helpers.ts
Labels: frontend, shared

#527 GRHB-516: + empty messages are not sent now
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/check-is-message-has-not-only-white-spaces.helper.ts
  frontend/src/components/chats/components/current-chat/components/message-form/helpers/helpers.ts
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
Labels: frontend

#521 GRHB-494: + stylized status in tasks
  frontend/src/components/course-module/components/task-notes/components/task-note-card/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
Labels: frontend

#520 GRHB-512: * fixed status sizes
  frontend/src/components/course/components/modules-cards-container/components/module-card/module-card.tsx
  frontend/src/components/course/components/modules-cards-container/components/module-card/styles.module.scss
Labels: frontend

#449 fix/GRHB391 choose mentor is displayed after clicking become mentor button
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/interviews/interviews-interviewee-get-active-category-ids.yaml
  backend/src/documentation/schemas/interviews/interviews-interviewee-get-active-category-ids-response.yaml
  backend/src/services/interview/interview.service.ts
  frontend/src/components/course/course.tsx
  frontend/src/services/interviews-api/interviews-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/api/interviews-api-path.enum.ts
Labels: frontend, shared, backend

#512 GRHB-503: protect student pages for mentor
  backend/src/api/courses/courses.api.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/course-check-is-mentor-for-mentee.yaml
  backend/src/plugins/authorization/authorization.plugin.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/validation-schemas/course/course.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/enums/notification/notification-messages/notification-message.enum.ts
  frontend/src/common/types/course/course.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course/course.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course-module/actions.ts
  frontend/src/store/course-module/common.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/common.ts
  shared/src/common/enums/api/courses-api-path.enum.ts
  shared/src/common/types/course/course-check-is-mentor-for-mentee-request-params-dto.type.ts
  shared/src/common/types/course/course.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course/course-check-is-mentor-for-student-params.validation-schema.ts
  shared/src/validation-schemas/course/course.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: frontend, shared, backend

#529 GRHB-411: User change image functionality
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Labels: mobile

#483 GRHB-353: fix chat search
  backend/src/api/chats/chats.api.ts
  backend/src/common/types/chat-message/chat-message-get-empty-chats-request-dto.type.ts
  backend/src/common/types/chat-message/chat-message.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/chat-message/chat-message.service.ts
  backend/src/services/services.ts
  frontend/src/common/types/chat-message/chat-message-get-all-messages-from-chat-dto.type.ts
  frontend/src/common/types/chat-message/chat-message.ts
  frontend/src/common/types/types.ts
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/chats-list.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/services/chats-api/chats-api.service.ts
  frontend/src/store/chats/actions.ts
  frontend/src/store/chats/reducer.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat/components/conversations-list/components/conversation/conversation.tsx
  mobile/src/components/chat/components/conversations-list/conversations-list.tsx
  mobile/src/store/chat/reducer.ts
  shared/src/common/types/chat-message/chat-message-get-all-item-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-last-with-empty-chats-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-all-response-dto.type.ts
  shared/src/common/types/chat-message/chat-message-get-empty-chat-dto.type.ts
  shared/src/common/types/chat-message/chat-message-user-response-dto-type.ts
  shared/src/common/types/chat-message/chat-message.ts
  shared/src/common/types/types.ts
Labels: mobile, frontend, shared, backend

#504 GRHB-443: remove mentor when all modules are completed
  backend/src/common/enums/enums.ts
  backend/src/common/enums/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors-change-status-request-dto.type.ts
  backend/src/common/types/mentees-to-mentors/mentees-to-mentors.ts
  backend/src/common/types/task/task.ts
  backend/src/common/types/types.ts
  backend/src/data/migrations/20220909101329_add_status_to_mentees_to_mentors_table.ts
  backend/src/data/models/mentees-to-mentors/mentees-to-mentors.model.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task/task.repository.ts
  backend/src/services/mentees-to-mentors/mentees-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  backend/src/services/task/task.service.ts
  frontend/src/components/course/course.tsx
  readme.md
  shared/src/common/enums/enums.ts
  shared/src/common/enums/mentees-to-mentors/mentees-to-mentors-status.enum.ts
  shared/src/common/enums/mentees-to-mentors/mentees-to-mentors.ts
  shared/src/common/types/mentees-to-mentors/mentees-to-mentors-response-dto.type.ts
  shared/src/common/types/task/task-create-request-dto.type.ts
  shared/src/common/types/task/task.ts
  shared/src/common/types/types.ts
Labels: frontend, shared, root, backend

#511 GRHB-505: + date separator mobile
  mobile/src/components/chat-conversation/components/messages-list/components/components.ts
  mobile/src/components/chat-conversation/components/messages-list/components/date-separator/date-separator.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/date-separator/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
  mobile/src/components/chat-conversation/components/messages-list/helpers/group-messages-by-date/group-messages-by-date.helper.ts
  mobile/src/components/chat-conversation/components/messages-list/helpers/helpers.ts
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
  mobile/src/components/chat-conversation/components/messages-list/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/styles.ts
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Labels: mobile

#540 GRHB-541: * moved key prop to the top level
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
Labels: frontend

#537 GRHB-530: * removed duplicate slash from request url
  frontend/src/services/course-modules-api/course-modules-api.service.ts
Labels: frontend

#536 GRHB-527: spinner is missing at the profile settings during page loading
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/user-profile-form.tsx
  frontend/src/components/user-details/components/user-profile/styles.module.scss
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
Labels: frontend

#534 GRHB-529: + added margin to title
  frontend/src/components/course-module/styles.module.scss
Labels: frontend

#535 GRHB-519: * renamed interview history section
  frontend/src/components/interview/components/history-section/history-section.tsx
Labels: frontend

#508 GRHB-249: Chat functionality (without realtime) (fixed chat issues with placing messages and message form)
  frontend/src/components/chats/chats.tsx
  frontend/src/components/chats/components/chats-list/components/chat/chat.tsx
  frontend/src/components/chats/components/chats-list/components/chat/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/message-form/message-form.tsx
  frontend/src/components/chats/components/current-chat/components/message-form/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/messages-list/styles.module.scss
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/store/chats/reducer.ts
Labels: frontend

#543 GRHB533: * fixed profile image being stretched
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/styles.module.scss
Labels: frontend

#526 GRHB-359: select a mentor mobile
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/components/course/components/my-mentor/components/choose-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/choose-mentor/styles.ts
  mobile/src/components/course/components/my-mentor/components/components.ts
  mobile/src/components/course/components/my-mentor/components/mentor-card/mentor-card.tsx
  mobile/src/components/course/components/my-mentor/components/mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/components/my-mentor-card/styles.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#530 GRHB-498: Move sign out button to drawer menu
  mobile/src/components/common/button/button.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
Labels: mobile

#532 GRHB528: + fixed rerendering the user profile after updating
  frontend/src/store/user-details/actions.ts
  frontend/src/store/user-details/reducer.ts
Labels: frontend

#538 GRHB526: + text fixed
  frontend/src/components/common/pagination/pagination.tsx
Labels: frontend

#516 GRHB-493: * fixed category element on course page
  frontend/src/components/common/category/category.tsx
  frontend/src/components/common/category/styles.module.scss
Labels: frontend

#533 GRHB-433: * fix chat functionallity
  mobile/src/common/enums/chat/chat-validation-message.enum.ts
  mobile/src/common/enums/chat/chat-validation-rule.enum.ts
  mobile/src/common/enums/chat/chat.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/chat/chat-message-form-request-dto.type.ts
  mobile/src/common/types/chat/chat.ts
  mobile/src/common/types/types.ts
  mobile/src/components/chat-conversation/chat-conversation.tsx
  mobile/src/components/chat-conversation/components/message-form/helpers/get-default-message-payload.helper.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/message.tsx
  mobile/src/components/chat-conversation/components/messages-list/components/message/styles.ts
  mobile/src/validation-schemas/chat/chat-message-create.validation-schema.ts
  mobile/src/validation-schemas/chat/chat.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#482 GRHB-435: Courses Management screen
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/common/category-cell/category-cell.tsx
  mobile/src/components/common/category-cell/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-category/edit-category.tsx
  mobile/src/components/course/components/edit-category/helpers/get-categories-options.helper.ts
  mobile/src/components/course/components/edit-category/helpers/get-default-edit-course-category-payload.helper.ts
  mobile/src/components/course/components/edit-category/helpers/helpers.ts
  mobile/src/components/course/components/edit-category/styles.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course/edit-course.tsx
  mobile/src/components/course/components/edit-course/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/courses-management/common/constants/constants.ts
  mobile/src/components/courses-management/common/constants/default-page-size.constants.ts
  mobile/src/components/courses-management/common/enums/courses-management-table-accessor.enum.ts
  mobile/src/components/courses-management/common/enums/enums.ts
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/common/types/types.ts
  mobile/src/components/courses-management/components/action-cell/action-cell.tsx
  mobile/src/components/courses-management/components/action-cell/styles.ts
  mobile/src/components/courses-management/courses-management-table/courses-management-table.tsx
  mobile/src/components/courses-management/courses-management-table/styles.ts
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/components/courses-management/helpers/get-courses-management-columns-helper/get-courses-management-columns.helper.ts
  mobile/src/components/courses-management/helpers/helpers.ts
  mobile/src/components/courses-management/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/actions.ts
  mobile/src/store/categories/actions.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/categories/reducer.ts
  mobile/src/store/courses-management/actions.ts
  mobile/src/store/courses-management/common.ts
  mobile/src/store/courses-management/reducer.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/root-reducer.ts
Labels: mobile

#545 GRHB-535: + Capitalize gender dropdown options
  mobile/src/components/setting/common/constants.ts
Labels: mobile

#555 GRHB-553: * date separator is placed below the respective messages
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Labels: mobile

#553 GRHB-520: * rename history to notes on interview screen
  mobile/src/common/enums/navigation/interview-screen-name.enum.ts
  mobile/src/common/types/navigation/interview-navigation-param-list.type.ts
  mobile/src/components/interview/components/components.ts
  mobile/src/components/interview/components/notes/common.ts
  mobile/src/components/interview/components/notes/components/components.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/components/components.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/note-card.tsx
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/styles.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/note-cards-list.tsx
  mobile/src/components/interview/components/notes/components/note-cards-list/styles.ts
  mobile/src/components/interview/components/notes/notes.tsx
  mobile/src/components/interview/components/notes/styles.ts
  mobile/src/navigation/interview/interview.navigation.tsx
Labels: mobile

#552 GRHB-532: Add notifications to change image functionality
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/setting/common/constants.ts
  mobile/src/components/setting/setting.tsx
Labels: mobile

#550 GRHB-538: Disable drawer gestures
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/app/common/types/drawer-navigation-item.type.ts
Labels: mobile

#563 GRHB-528: + removed spinner after updating user details
  frontend/src/store/user-details/reducer.ts
Labels: frontend

#558 GRHB-549: restyle mentor block
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/styles.module.scss
Labels: frontend

#549 GRHB550: * align table elements
  frontend/src/components/common/table/styles.module.scss
  frontend/src/components/courses-management/helpers/get-courses-management-columns/get-courses-management-columns.helper.ts
  frontend/src/components/my-courses/helpers/get-courses-mentoring-columns/get-courses-mentoring-columns.helper.ts
  frontend/src/components/my-courses/my-courses.tsx
  frontend/src/components/my-courses/styles.module.scss
  frontend/src/components/uam/components/groups-table/components/actions-cell/styles.module.scss
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Labels: frontend

#554 fix/GRHB539 become a mentor button shouldn't be shown at particular course after creating interview
  frontend/src/components/course/course.tsx
  frontend/src/store/course/actions.ts
Labels: frontend

#548 GRHB-545: * changed avatar buttons naming
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
Labels: frontend

#546 GRHB-543: + added last message update
  frontend/src/store/chats/reducer.ts
Labels: frontend

#539 GRHB-531: + interviewee can't edit own interview
  backend/src/api/interviews/interviews.api.ts
  backend/src/data/repositories/interview/interview.repository.ts
  backend/src/services/interview/interview.service.ts
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/interview.tsx
  shared/src/common/enums/exceptions/exception-message.enum.ts
Labels: frontend, shared, backend

#541 GRHB534: + gender namings fixed
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Labels: frontend

#564 GRHB-357: fix status cell size
  mobile/src/components/common/chip/styles.ts
Labels: mobile

#556 GRHB-547: 'Become a mentor' button is displayed on any page after loading on the course page
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course/course.navigation.tsx
Labels: mobile

#560 GRHB-540: * change update become mentor visibility
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/store/courses/actions.ts
Labels: mobile

#559 GRHB-553: * my students screen mobile
  mobile/src/common/types/task/task.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course-module/components/task/task.tsx
  mobile/src/components/course/common/maps/maps.ts
  mobile/src/components/course/common/maps/status-to-color.map.ts
  mobile/src/components/course/components/course-students/components/student-card/student-card.tsx
  mobile/src/components/course/components/course-students/course-students.tsx
  mobile/src/components/course/components/module/module.tsx
  mobile/src/components/course/components/module/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/services/tasks-api/tasks-api.service.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#557 GRHB-552: + automatically scroll down to the recent message
  mobile/src/components/chat-conversation/components/messages-list/messages-list.tsx
Labels: mobile

#565 GRHB-540: * fix error with evaluating course props
  mobile/src/store/courses/actions.ts
Labels: mobile

#571 GRHB-532: * change NotificationType when image to big
  mobile/src/components/setting/setting.tsx
Labels: mobile

#567 GRHB-540: * make become mentor btn disappear after create interview
  mobile/src/store/courses/actions.ts
Labels: mobile

#578 GRHB: * codemagic config instance type
  codemagic.yaml
Labels: root

#573 GRHB-567: User avatar is not rounded at the "Interview" page in the "Notes" tabs
  mobile/src/components/course-module/components/task/components/task-notes/components/task-note-card/styles.ts
  mobile/src/components/interview/components/notes/components/note-cards-list/components/note-card/styles.ts
Labels: mobile

#566 GRHB-555: * add check on count of tabs in the course-module
  mobile/src/common/constants/constants.ts
  mobile/src/common/constants/navigation.constants.ts
  mobile/src/navigation/course-module/common/constants.ts
  mobile/src/navigation/course-module/course-module.navigation.tsx
  mobile/src/navigation/course/course.navigation.tsx
  mobile/src/navigation/interview/common/constants.ts
  mobile/src/navigation/interview/interview.navigation.tsx
Labels: mobile

#577 GRHB-568: * fixed favicon
  frontend/public/favicon.ico
Labels: frontend

#572 GRHB-561: * fixed 'my courses' page to be protected
  frontend/src/components/app/app.tsx
Labels: frontend

#544 Fix/grhb469 mentor and student for same course
  backend/src/data/repositories/users-to-groups/users-to-groups.repository.ts
  backend/src/services/courses-to-mentors/courses-to-mentors.service.ts
  backend/src/services/mentor/mentor.service.ts
  backend/src/services/services.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
Labels: frontend, shared, backend

#579 GRHB-249: Chat functionality (fixed little chat messages placement)
  frontend/src/components/chats/components/current-chat/styles.module.scss
Labels: frontend

#576 GRHB-565: "Date of birth" field is filled by the closest valid date at the "Profile Settings" page after taping "Cancel" button
  mobile/src/components/common/date-picker/date-picker.tsx
Labels: mobile

#575 GRHB-569: * fixed module page
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
Labels: frontend

#580 GRHB-571: * fixed text wrap in side menu
  frontend/src/components/common/authorized-menu/styles.module.scss
  frontend/src/components/common/header/styles.module.scss
Labels: frontend

#562 GRHB-537: change the name and telegram username textfields width
  frontend/src/components/user-details/components/user-profile/components/user-profile-form/styles.module.scss
Labels: frontend

#542 fix/GRHB343 user with manage interview permission can access interview page not assigned to him
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/common.ts
Labels: frontend

#551 GRHB-544: * fixed avatar update
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/dashboard/dashboard.tsx
  frontend/src/components/user-details/components/user-profile/components/avatar-wrapper/avatar-wrapper.tsx
  frontend/src/components/user-details/components/user-profile/user-profile.tsx
Labels: frontend

#585 GRHB591: + fixed fetching and saving modules
  backend/src/services/course-module/course-module.service.ts
  backend/src/services/udemy/udemy.service.ts
  shared/src/common/types/udemy/udemy-module-get-response-dto.type.ts
Labels: shared, backend

#583 GRHB-560: "Save" button is not saving interview changes at the "Interview" page after clicking on "Save" button
  mobile/src/components/common/date-picker/date-picker.tsx
  mobile/src/components/interview/components/applications/components/application-form/application-form.tsx
  mobile/src/components/interview/components/applications/components/application-form/styles.ts
Labels: mobile

#574 GRHB-435: fix courses management screen
  mobile/src/components/common/category-cell/category-cell.tsx
  mobile/src/components/courses-management/common/types/courses-management-table-data.type.ts
  mobile/src/components/courses-management/components/components.ts
  mobile/src/components/courses-management/components/title-cell/styles.ts
  mobile/src/components/courses-management/components/title-cell/title-cell.tsx
  mobile/src/components/courses-management/courses-management-table/courses-management-table.tsx
  mobile/src/components/courses-management/courses-management.tsx
  mobile/src/navigation/app/common/constants/constants.ts
Labels: mobile

#586 GRHB-524: * add check messages only on white spaces
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/chat-conversation/components/message-form/styles.ts
Labels: mobile

#581 GRHB-506: + my courses screen
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/my-courses-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/my-courses-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/input/input.tsx
  mobile/src/components/course-card/common/maps/maps.ts
  mobile/src/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/course-card/components/components.ts
  mobile/src/components/course-card/components/vendor-label/style.ts
  mobile/src/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/course-card/course-card.tsx
  mobile/src/components/course-card/styles.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/my-courses/common/constants/constants.ts
  mobile/src/components/my-courses/common/constants/default-page-size.constants.ts
  mobile/src/components/my-courses/common/enums/enums.ts
  mobile/src/components/my-courses/common/enums/my-courses-table-accessor.enum.ts
  mobile/src/components/my-courses/common/types/course-update-mentoring-form.type.ts
  mobile/src/components/my-courses/common/types/my-courses-table-data.type.ts
  mobile/src/components/my-courses/common/types/types.ts
  mobile/src/components/my-courses/components/components.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/components.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/my-courses-table/my-courses-table.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/components/my-courses-table/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/students-count-cell.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/components/students-count-cell/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/title-cell/styles.ts
  mobile/src/components/my-courses/components/courses-as-mentor/components/title-cell/title-cell.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/courses-as-mentor.tsx
  mobile/src/components/my-courses/components/courses-as-mentor/styles.ts
  mobile/src/components/my-courses/components/courses-as-student/courses-as-student.tsx
  mobile/src/components/my-courses/components/courses-as-student/styles.ts
  mobile/src/components/my-courses/helpers/get-my-courses-columns/get-my-courses-columns.helper.ts
  mobile/src/components/my-courses/helpers/helpers.ts
  mobile/src/components/my-courses/my-courses.tsx
  mobile/src/components/my-education/my-education.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/typescript/typescript.ts
  mobile/src/navigation/app/common/constants/constants.ts
  mobile/src/navigation/my-courses/common/constants.ts
  mobile/src/navigation/my-courses/my-courses.navigation.tsx
  mobile/src/navigation/my-courses/styles.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/actions.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/my-courses/actions.ts
  mobile/src/store/my-courses/common.ts
  mobile/src/store/my-courses/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#590 GRHB-602: * fix choose mentor flow
  mobile/src/common/enums/notification/notification-message.enum.ts
  mobile/src/components/course/components/my-mentor/my-mentor.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#584 Fix/grhb559 add avatars
  backend/src/common/types/course/course-all-mentors-dto.ts
  backend/src/common/types/course/course.ts
  backend/src/common/types/course/get-all-mentees-dto.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/chat-message/chat-message.repository.ts
  backend/src/data/repositories/course/course.repository.ts
  backend/src/data/repositories/interview-note/interview-note.repository.ts
  backend/src/data/repositories/mentees-to-mentors/mentees-to-mentors.repository.ts
  backend/src/data/repositories/task-note/task-note.repository.ts
  backend/src/services/course/course.service.ts
  frontend/src/components/chats/components/current-chat/components/chat-opponent/chat-opponent.tsx
  frontend/src/components/chats/components/current-chat/components/chat-opponent/styles.module.scss
  frontend/src/components/chats/components/current-chat/components/components.tsx
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/message.tsx
  frontend/src/components/chats/components/current-chat/current-chat.tsx
  frontend/src/components/chats/components/current-chat/styles.module.scss
  frontend/src/components/common/image/styles.module.scss
  frontend/src/components/course-module/components/task-notes/components/task-note-card/task-note-card.tsx
  frontend/src/components/course-module/course-module.tsx
  frontend/src/components/course-module/styles.module.scss
  frontend/src/components/course/components/choose-mentor-modal/choose-mentor-modal.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/components/mentor-card/mentor-card.tsx
  frontend/src/components/course/components/choose-mentor-modal/components/mentors-list/mentors-list.tsx
  frontend/src/components/course/components/my-students-container/my-students-container.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/components/interview-note-card/interview-note-card.tsx
  frontend/src/components/interview/components/history-section/components/interview-note-cards-list/interview-note-cards-list.tsx
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  frontend/src/store/course/reducer.ts
Labels: frontend, backend

#582 GRHB574: + telegram added on the interviews page
  frontend/src/components/interview/components/interview-item/interview-item.tsx
  frontend/src/components/interview/components/interview-item/styles.module.scss
  frontend/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  frontend/src/components/interviews/common/types/interviews-table-row.type.ts
  frontend/src/components/interviews/components/components.ts
  frontend/src/components/interviews/components/telegram-cell/styles.module.scss
  frontend/src/components/interviews/components/telegram-cell/telegram-cell.tsx
  frontend/src/components/interviews/helpers/get-interviews-columns/get-interviews-columns.helper.ts
  frontend/src/components/interviews/helpers/get-interviews-rows/get-interviews-rows.helper.ts
  frontend/src/helpers/app/app.ts
  frontend/src/helpers/app/generate-telegram-link.helper.ts
  frontend/src/helpers/helpers.ts
Labels: frontend

#589 GRHB-596: Sections at the "Interview" page have different background colors
  mobile/src/components/courses-management/courses-management-table/styles.ts
  mobile/src/components/interview/components/applications/components/other-applications/styles.ts
  mobile/src/components/interviews/interviews-table/styles.ts
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/users-table/styles.ts
Labels: mobile

#594 GRHB-324: * change search form logic
  mobile/src/components/common/search/components/components.ts
  mobile/src/components/common/search/components/search-input/search-input.tsx
  mobile/src/components/common/search/components/search-input/styles.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/search/styles.ts
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
Labels: mobile

#596 GRHB593: * fix app crashes on interview page
  frontend/src/components/interview/interview.tsx
  frontend/src/store/interview/actions.ts
  frontend/src/store/interview/common.ts
  frontend/src/store/interview/reducer.ts
Labels: frontend

#595 GRHB-580: - removed time from date of interview field
  frontend/src/components/interview/components/interview-item/interview-item.tsx
Labels: frontend

#598 GRHB-249: Chat functionality (fixed escaping line breaking)
  frontend/src/components/chats/components/current-chat/components/messages-list/components/message/style.module.scss
Labels: frontend

#593 GRHB-581: * made module page protected
  frontend/src/components/app/app.tsx
Labels: frontend

#588 GRHB-577: * aligned username
  frontend/src/components/chats/components/current-chat/styles.module.scss
Labels: frontend

#587 GRHB-598: * change chat input rows logic
  mobile/src/components/chat-conversation/components/message-form/common/constants/constants.ts
  mobile/src/components/chat-conversation/components/message-form/common/constants/rows-max-count.constants.ts
  mobile/src/components/chat-conversation/components/message-form/message-form.tsx
  mobile/src/components/common/input/styles.ts
Labels: mobile

#602 GRHB-506: * change incoming type of mentors of course
  mobile/src/components/course/components/my-mentor/components/choose-mentor/choose-mentor.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/reducer.ts
Labels: mobile

#603 GRHB-324: * fix search functionality
  mobile/src/components/common/search/components/search-input/search-input.tsx
  mobile/src/components/common/search/search.tsx
Labels: mobile

#606 GRHB-575: add more course details
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/repositories/course/course.repository.ts
  frontend/src/common/types/course-category/course-category.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/courses-list/components/course/course.tsx
  frontend/src/components/common/courses-list/components/course/styles.module.scss
  shared/src/common/types/course-category/course-category-with-price-dto.type.ts
  shared/src/common/types/course-category/course-category.ts
  shared/src/common/types/course/course-get-response-dto.type.ts
  shared/src/common/types/types.ts
Labels: frontend, shared, backend

#605 GRHB590: * fix updating interview info after switching interviews
  frontend/src/components/interview/interview.tsx
Labels: frontend

#600 GRHB-604: * fixed sidebar shrink
  frontend/src/components/common/authorized-menu/styles.module.scss
Labels: frontend

#592 GRHB-579: + added hashtag to ids in tables
  frontend/src/components/interview/components/other-applications-table/components/id-cell/id-cell.tsx
  frontend/src/components/interviews/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/components/components.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  frontend/src/components/uam-configure-group/components/users-table/components/components.tsx
  frontend/src/components/uam-configure-group/components/users-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam-configure-group/helpers/get-permission-columns-helper/get-permission-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-permission-table-data-helper/get-permission-table-data.helper.ts
  frontend/src/components/uam-configure-group/helpers/get-user-columns-helper/get-user-columns.helper.ts
  frontend/src/components/uam-configure-group/helpers/helpers.ts
  frontend/src/components/uam/components/groups-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/groups-table/components/components.ts
  frontend/src/components/uam/components/groups-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/groups-table/groups-table.tsx
  frontend/src/components/uam/components/groups-table/helpers/get-group-table-data-helper/get-group-table-data.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-columns-helper/get-groups-columns.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/get-groups-rows.helper.ts
  frontend/src/components/uam/components/groups-table/helpers/helpers.ts
  frontend/src/components/uam/components/users-table/components/components.ts
  frontend/src/components/uam/components/users-table/components/id-cell/id-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns-helper/get-users-columns.helper.ts
Labels: frontend

#608 GRHB-604: Remove spelling checks from inputs
  mobile/src/components/common/input/input.tsx
Labels: mobile

#607 GRHB-606: Change button width at /Settings
  mobile/src/components/setting/styles.ts
Labels: mobile
