Repository BinaryStudioAcademy/bsa-2022-guruhub, pull requests merged in 2022-08, with the labels that each got.

#12 GRHB-22-color-palette: + add colors enum
  mobile/.eslintrc.yml
  mobile/src/common/enums/ui/app-color.enum.ts
  mobile/src/common/enums/ui/ui.ts
Labels: mobile

#21 added file with seed data and migration for creating course categories table
  backend/src/common/enums/db/db-table-name.enum.ts
  backend/src/data/migrations/20220806200300_add_course_categories.ts
  backend/src/data/models/course-category/course-category.model.ts
  backend/src/data/models/models.ts
Labels: conflicts

#20 Task/GRHB25 add-bootSplashScreen
  mobile/android/app/build.gradle
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/guruhub/MainActivity.java
  mobile/android/app/src/main/res/drawable/rn_edit_text_material.xml
  mobile/android/app/src/main/res/mipmap-hdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-mdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/bootsplash_logo.png
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/android/build.gradle
  mobile/ios/guruhub/BootSplash.storyboard
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/Contents.json
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo.png
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@2x.png
  mobile/ios/guruhub/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@3x.png
  mobile/package-lock.json
  mobile/package.json
  mobile/src/components/app/app.tsx
Labels: mobile

#25 GRHB-24: + app icon
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: mobile

#23 Task/grhb23 deep linking
  mobile/.env.example
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/ios/guruhub/AppDelegate.mm
  mobile/src/common/enums/app/env.enum.ts
  mobile/src/components/app/app.tsx
  mobile/src/config/config.ts
  mobile/src/config/linking.config.ts
Labels: mobile

#28 GRHB-26-text-component: + text component
  mobile/android/app/src/main/assets/fonts/Inter-400-Italic.ttf
  mobile/android/app/src/main/assets/fonts/Inter-400.ttf
  mobile/android/app/src/main/assets/fonts/Inter-500.ttf
  mobile/android/app/src/main/assets/fonts/Inter-600.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/guruhub.xcodeproj/project.pbxproj
  mobile/ios/guruhub/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/react-native.config.js
  mobile/src/assets/fonts/Inter-400-Italic.ttf
  mobile/src/assets/fonts/Inter-400.ttf
  mobile/src/assets/fonts/Inter-500.ttf
  mobile/src/assets/fonts/Inter-600.ttf
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/app-font-family.enum.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/text/styles.ts
  mobile/src/components/common/text/text.tsx
Labels: mobile

#40 GRHB: * create env script in codemagic config
  codemagic.yaml
Labels: mobile

#49 GRHB-65: Loader Component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/spinner/spinner.tsx
  mobile/src/components/common/spinner/styles.ts
Labels: mobile

#59 GRHB68: add sign in route
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/auth/user-sign-in.yaml
  backend/src/documentation/schemas/auth/user-sign-in-request-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
Labels: documentation

#63 task/GRHB67 sign up 400 status
  backend/src/documentation/endpoints/auth/user-sign-up.yaml
  backend/src/documentation/schemas/error-dto.yaml
Labels: documentation

#47 GRHB-59: + add notification service, middlware
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/notification/notification-type.enum.ts
  mobile/src/common/enums/notification/notification.ts
  mobile/src/common/types/notification/notification-payload.type.ts
  mobile/src/common/types/notification/notification.ts
  mobile/src/common/types/types.ts
  mobile/src/components/app/app.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/toast/styles.ts
  mobile/src/components/common/toast/toast.tsx
  mobile/src/services/notification/common/types/show-notification-params/show-notification-params.type.ts
  mobile/src/services/notification/common/types/types.ts
  mobile/src/services/notification/notification.service.ts
  mobile/src/services/services.ts
  mobile/src/store/app/actions.ts
  mobile/src/store/app/common.ts
  mobile/src/store/middlewares/handle-error/handle-error.middleware.ts
  mobile/src/store/middlewares/middlewares.ts
  mobile/src/store/store.ts
Labels: mobile

#65 GRHB85: + add jwt token to user response
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
Labels: documentation

#79 GRHB85: * token in user schemas
  backend/src/documentation/schemas/auth/user-sign-in-response-dto.yaml
  backend/src/documentation/schemas/auth/user-sign-up-response-dto.yaml
Labels: documentation

#29 Task/grhb27 drawer navigation
  frontend/src/store/auth/reducer.ts
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  mobile/src/assets/icons/billing.svg
  mobile/src/assets/icons/book.svg
  mobile/src/assets/icons/education.svg
  mobile/src/assets/icons/home.svg
  mobile/src/assets/icons/mentors.svg
  mobile/src/assets/icons/message.svg
  mobile/src/assets/icons/settings.svg
  mobile/src/assets/logo.png
  mobile/src/assets/saly.png
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/billing/billing.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/components/mentors/mentors.tsx
  mobile/src/components/my-education/my-education.tsx
  mobile/src/components/overview/overview.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/hooks/hooks.ts
  mobile/src/hooks/use-app-navigate/use-app-navigate.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-content/styles.ts
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/components/drawer-item/styles.ts
  mobile/src/navigation/app/components/drawer-list/drawer-list.tsx
  mobile/src/navigation/app/components/drawer-list/styles.ts
  mobile/src/navigation/root/root.navigation.tsx
Labels: mobile, conflicts

#88 GRHB-32: + sign in mobile
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/auth-screen-name.enum.ts
  mobile/src/common/enums/navigation/navigation.ts
  mobile/src/common/enums/navigation/root-screen-name.enum.ts
  mobile/src/common/types/navigation/auth-navigation-param-list.type.ts
  mobile/src/common/types/navigation/navigation.ts
  mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/auth/auth.tsx
  mobile/src/components/auth/components/sign-in-form/common/constants.ts
  mobile/src/components/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/components/auth/components/sign-in-form/styles.ts
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/auth/common/constants.ts
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/common.ts
  mobile/src/store/auth/reducer.ts
  mobile/src/validation-schemas/user/user.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#92 GRHB-33: Fix sign up mobile
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Labels: enhancement, mobile

#93 GRHB-89: + stack component
  mobile/src/components/common/common.tsx
  mobile/src/components/common/stack/stack.tsx
Labels: mobile

#99 GRHB122: * fixed position background element
  mobile/src/components/auth/styles.ts
Labels: bug, mobile

#94 GRHB-88: + implement storage service (MMKV),refetch user after app reopen
  mobile/src/common/types/http/http-options.type.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/root/root.navigation.tsx
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/services/http/http.service.ts
  mobile/src/services/services.ts
  mobile/src/services/storage/storage.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/common.ts
  mobile/src/store/auth/reducer.ts
  mobile/src/store/store.ts
Labels: mobile

#109 GRHB129: * sing in submit
  mobile/src/components/auth/auth.tsx
Labels: bug, mobile

#87 GRHB-30: Search Component
  backend/package-lock.json
  frontend/package-lock.json
  mobile/.eslintrc.yml
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/src/assets/icons/search.svg
  mobile/src/assets/icons/voice.svg
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/common/icon/icon.tsx
  mobile/src/components/common/maps/maps.ts
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/common/types.ts
  mobile/src/components/common/search/common/types/search-input.type.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/common/search/styles.ts
  mobile/src/custom.d.ts
  mobile/src/helpers/debounce/debounce.ts
  mobile/src/helpers/debounce/debounce/debounce.helper.ts
  mobile/src/helpers/helpers.ts
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/debounce/debounce.ts
  shared/src/helpers/debounce/debounce/debounce.helper.ts
  shared/src/helpers/helpers.ts
Labels: mobile

#107 GRHB-99: + table component mobile
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/types/ui/table-column.type.ts
  mobile/src/common/types/ui/ui.ts
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
Labels: mobile

#114 Task/grhb133 table pagination component (mobile)
  mobile/src/components/common/common.tsx
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Labels: mobile

#118 GRHB-99: * fix table styles
  mobile/src/components/common/common.tsx
  mobile/src/components/common/table/styles.ts
  mobile/src/components/common/table/table.tsx
Labels: mobile

#120 Task/grhb 118 groups table
  mobile/src/assets/icons/uam.svg
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/pagination/pagination.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/uam/common/enums/enums.ts
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
  mobile/src/components/uam/groups-table/helpers/get-rows-helper/get-rows.helper.ts
  mobile/src/components/uam/groups-table/helpers/helpers.ts
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-item/styles.ts
  mobile/src/navigation/app/components/drawer-list/styles.ts
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Labels: enhancement, mobile

#127 GRHB-117: + user table mobile
  mobile/src/assets/icons/trash.svg
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/pagination/pagination.ts
  mobile/src/common/types/http/http-options.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/uam/common/enums/enums.ts
  mobile/src/components/uam/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam/common/types/types.ts
  mobile/src/components/uam/common/types/users-table-data.type.ts
  mobile/src/components/uam/helpers/get-users-columns.helper.ts
  mobile/src/components/uam/helpers/helpers.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/services/http/http.service.ts
  mobile/src/services/services.ts
  mobile/src/services/users-api/users-api.service.ts
  mobile/src/store/store.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
Labels: mobile

#135 Task/grhb143 delete group functionality
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/types.ts
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/common/types/groups-table-data.type.ts
  mobile/src/components/uam/common/types/types.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/groups-table/components/components.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
  mobile/src/components/uam/groups-table/helpers/get-rows-helper/get-rows.helper.ts
  mobile/src/components/uam/groups-table/helpers/helpers.ts
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam/actions.ts
  mobile/src/store/uam/common.ts
  mobile/src/store/uam/reducer.ts
  shared/src/common/types/groups/groups-delete-request-dto.types.ts
Labels: enhancement, mobile

#119 GRHB-135: Add protected route component
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/permission/permission-key.enum.ts
  mobile/src/common/enums/permission/permission.ts
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/permission/permissions-get-all-item-response-dto.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user/user.ts
  mobile/src/components/common/common.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
  mobile/src/navigation/app/helpers/helpers.ts
  mobile/src/services/auth-api/auth-api.service.ts
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
Labels: mobile

#142 GRHB-153: Customize navigation theme
  mobile/src/components/app/app.tsx
  mobile/src/config/config.ts
  mobile/src/config/navigation-theme.config.ts
Labels: mobile

#134 Added nigative sign up tests
  backend/tests/src/lib/services/auth/auth.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/shared/error/error-response.schema.ts
  backend/tests/src/tests/json-schemas/shared/error/error.ts
  backend/tests/src/tests/json-schemas/shared/shared.ts
  backend/tests/src/tests/specs/.gitkeep
  backend/tests/src/tests/specs/auth/sign-up/sign-up-negative.spec.ts
Labels: tests

#138 GRHB-151: + groups table pagination
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/hooks/hooks.ts
  mobile/src/hooks/use-pagination/use-pagination.hook.ts
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/store/uam/actions.ts
Labels: mobile

#141 GRHB-145: + categories list mobile
  mobile/src/assets/images/categories/c.svg
  mobile/src/assets/images/categories/css.svg
  mobile/src/assets/images/categories/html.svg
  mobile/src/assets/images/categories/java.svg
  mobile/src/assets/images/categories/javascript.svg
  mobile/src/assets/images/categories/nodejs.svg
  mobile/src/assets/images/categories/python.svg
  mobile/src/assets/images/categories/react.svg
  mobile/src/assets/images/categories/typescript.svg
  mobile/src/common/types/category/category.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/common/maps/category-key-to-image.map.ts
  mobile/src/components/courses/components/category-list/common/maps/maps.ts
  mobile/src/components/courses/components/category-list/components/category-image/category-image.tsx
  mobile/src/components/courses/components/category-list/components/category-image/style.ts
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/components/category-list/components/category/helpers/get-random-color.helper.ts
  mobile/src/components/courses/components/category-list/components/category/helpers/helper.ts
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/components/category-list/style.ts
Labels: mobile

#149 GRHB-136: + documentation
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses/courses.yaml
  backend/src/documentation/schemas/courses/courses-get-all-response-dto.yaml
Labels: documentation

#150 Task/grhb159 update group route swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-delete.yaml
  backend/src/documentation/endpoints/groups/groups-update.yaml
  backend/src/documentation/schemas/groups/groups-response-dto.yaml
  backend/src/documentation/schemas/groups/groups-update-request-dto.yaml
Labels: documentation

#154 GRHB-133: * increase the size of pressables
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Labels: mobile

#144 GRHB-158: logout
  mobile/src/components/setting/setting.tsx
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Labels: mobile

#147 GRHB-120: + groups create for UAM
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/permissions/permissions.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/common/checkbox/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/uam-groups-create/common/constants/constants.ts
  mobile/src/components/uam-groups-create/common/constants/create-group-default.constants.ts
  mobile/src/components/uam-groups-create/common/enums/enums.ts
  mobile/src/components/uam-groups-create/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-groups-create/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-groups-create/common/types/types.ts
  mobile/src/components/uam-groups-create/common/types/users-table-row.type.ts
  mobile/src/components/uam-groups-create/components/conponents.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/components/users-table/styles.ts
  mobile/src/components/uam-groups-create/components/users-table/users-table.tsx
  mobile/src/components/uam-groups-create/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-groups-create/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-groups-create/helpers/helpers.ts
  mobile/src/components/uam-groups-create/styles.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/hooks/hooks.ts
  mobile/src/hooks/use-selected-items/use-selected-items.hook.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/permissions-api/permissions-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/store/uam-groups-create/actions.ts
  mobile/src/store/uam-groups-create/common.ts
  mobile/src/store/uam-groups-create/reducer.ts
  mobile/src/validation-schemas/group/group.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#159 GRHB-157: Added categories route description to swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/categories/categories.yaml
  backend/src/documentation/schemas/categories/categories-get-all-response-dto.yaml
Labels: documentation

#161 GRHB-170: * fixed get users route default count param
  backend/src/documentation/endpoints/users/users-get-all.yaml
Labels: documentation

#151 GRHB-160: Make status bar translucent
  mobile/src/components/app/app.tsx
  mobile/src/components/auth/auth.tsx
  mobile/src/components/common/common.tsx
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
  mobile/src/navigation/auth/auth.navigation.tsx
  mobile/src/navigation/auth/styles.ts
Labels: mobile

#156 GRHB-97: + added params documentation and checked if acceptance criteria is met
  backend/src/documentation/endpoints/groups/groups-get-all.yaml
Labels: documentation

#171 Task/grhb159 update group route swagger
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/groups/groups-manipulate.yaml
  backend/src/documentation/endpoints/groups/groups-update.yaml
Labels: documentation

#185 GRHB-200: rename workers to users on create group screen
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Labels: mobile

#181 GRHB-120: * fix add padding to the content
  mobile/src/components/uam-groups-create/styles.ts
Labels: mobile

#86 Task/grhb28 courses screen mobile
  mobile/src/assets/images/default-course-image.png
  mobile/src/assets/images/vendors/udemy.svg
  mobile/src/common/enums/courses/courses.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/components/course-card/common/maps/maps.ts
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/courses/components/course-card/components/components.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/style.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/vendor-label.tsx
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Labels: mobile

#184 GRHB-197: Add padding to settings and uam screens
  mobile/src/components/auth/auth.tsx
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/uam.tsx
Labels: mobile

#189 GRHB-196: + Add keyboardShouldPersistTaps
  mobile/src/components/auth/auth.tsx
  mobile/src/components/common/common.tsx
  mobile/src/components/common/scrollview/scrollview.tsx
Labels: mobile

#192 GRHB-202: Add permissions to uam screen
  mobile/src/navigation/app/common/constants.ts
Labels: mobile

#187 GRHB-201: Pagination is difficult to use on a real device
  mobile/src/components/common/pagination/pagination.tsx
Labels: mobile

#194 GRHB-207: Loader should be in the center
  mobile/src/components/courses/courses.tsx
  mobile/src/navigation/root/root.navigation.tsx
Labels: mobile

#208 GRHB-217: * make columns in users and groups table narrower
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#207 GRHB-120: * fix add padding to the content
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
Labels: mobile

#206 Fix/grhb-213: change color of the action buttons
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/users-table/action-cell.tsx
Labels: mobile

#205 GRHB-209: Fix groups table styles
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/users-table/action-cell.tsx
  mobile/src/components/uam/users-table/styles.ts
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#199 GRHB-145: * fix category list bugs
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
Labels: mobile

#218 GRHB-217: * change uam tables style
  mobile/src/components/uam/groups-table/components/action-cell/styles.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#216 GRHB-228: * fix after logout redirection
  mobile/src/components/setting/setting.tsx
  mobile/src/store/auth/actions.ts
  mobile/src/store/auth/reducer.ts
  mobile/src/store/uam/reducer.ts
Labels: mobile

#164 GRHB-144: + edit group functionality
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/groups/group-get-by-id-response-dto.type.ts
  mobile/src/common/types/groups/group-update-request-params-dto.type.ts
  mobile/src/common/types/groups/groups.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/permission/permission.ts
  mobile/src/common/types/permission/permissions-get-all-item-response-dto.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/checkbox/checkbox.tsx
  mobile/src/components/uam-configure-group/common/constants/constants.ts
  mobile/src/components/uam-configure-group/common/constants/create-group-default.constants.ts
  mobile/src/components/uam-configure-group/common/enums/enums.ts
  mobile/src/components/uam-configure-group/common/enums/permission-table-accessor.enum.ts
  mobile/src/components/uam-configure-group/common/enums/user-table-accessor.enum.ts
  mobile/src/components/uam-configure-group/common/types/permissions-table-row.type.ts
  mobile/src/components/uam-configure-group/common/types/types.ts
  mobile/src/components/uam-configure-group/common/types/users-table-row.type.ts
  mobile/src/components/uam-configure-group/components/components.ts
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-columns/get-permissions-columns.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-columns/get-user-columns.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/helpers.ts
  mobile/src/components/uam-configure-group/styles.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam-groups-create/components/conponents.ts
  mobile/src/components/uam-groups-create/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-groups-create/components/users-table/styles.ts
  mobile/src/components/uam-groups-create/uam-groups-create.tsx
  mobile/src/components/uam/components/components.ts
  mobile/src/components/uam/edit-group/components/components.ts
  mobile/src/components/uam/groups-table/components/action-cell/action-cell.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/uam.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/hooks/use-selected-items/use-selected-items.hook.ts
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/services/groups-api/groups-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/uam-group-edit/actions.ts
  mobile/src/store/uam-group-edit/common.ts
  mobile/src/store/uam-group-edit/reducer.ts
  mobile/src/store/uam-groups-create/actions.ts
  mobile/src/store/uam-groups-create/common.ts
  mobile/src/store/uam-groups-create/reducer.ts
  mobile/src/validation-schemas/group/group.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#230 GRHB-243: * fix create group payload error
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Labels: mobile

#235 GRHB231: Fields aren't cleared after second open of group creation screen (mobile)
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Labels: mobile

#215 GRHB218 * add redirected to courses screen mobile after deleted some …
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/components/overview/overview.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/store/uam/actions.ts
Labels: mobile

#234 GRHB-232: fix buttons on group create screen
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
Labels: bug, mobile

#226 GRHB-208: * add loader to uam tables
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/uam.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/store/uam-groups-create/reducer.ts
  mobile/src/store/uam/reducer.ts
Labels: mobile

#239 GRHB-244: fix create and edit groups render screen
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/components/uam/groups-table/groups-table.tsx
Labels: mobile

#248 GRHB-246: 'Unexpected token' error occurs while opening any course page
  backend/src/api/course-modules/course-modules.api.ts
  backend/src/common/types/course-module/course-module.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/course-module/course-module.repository.ts
  backend/src/documentation/documentation.yaml
  backend/src/documentation/endpoints/courses-modules/courses-modules-get-all-by-course-id.yaml
  backend/src/documentation/endpoints/courses-modules/courses-modules-get-by-course-id-and-module-id.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-all-by-course-id-request-dto.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-all-by-course-id-response-dto.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-by-course-id-and-module-id-request-dto.yaml
  backend/src/documentation/schemas/courses-modules/courses-modules-get-by-course-id-and-module-id-response-dto.yaml
  backend/src/services/course-module/course-module.service.ts
  backend/src/validation-schemas/course-module/course-module.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/common/types/course-module/course-module.ts
  frontend/src/common/types/types.ts
  frontend/src/components/course/components/modules-cards-container/modules-cards-container.tsx
  frontend/src/components/course/components/modules-cards-container/styles.module.scss
  frontend/src/services/courses-api/courses-api.service.ts
  frontend/src/store/course/actions.ts
  shared/src/common/enums/api/course-modules-api-path.enum.ts
  shared/src/common/types/course-module/course-module.ts
  shared/src/common/types/course-module/course-modules-get-all-request-params-dto.type.ts
  shared/src/common/types/course-module/course-modules-get-request-dto.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/course-module/course-module.ts
  shared/src/validation-schemas/course-module/course-modules-get-all-params.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: invalid

#250 GRHB-163: Add back button to configurate group screen
  mobile/src/common/types/navigation/drawer-navigation-list.type.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/navigation/app/app.navigation.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/back-button/back-button.tsx
  mobile/src/navigation/app/components/back-button/styles.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-content/drawer-content.tsx
Labels: mobile

#255 GRHB-238: Add padding to table cards on create group screen
  mobile/src/components/uam-configure-group/components/permissions-table/styles.ts
  mobile/src/components/uam-configure-group/components/users-table/styles.ts
Labels: mobile

#253 GRHB-203: + add course functionality
  mobile/src/assets/icons/plus.svg
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/navigation/drawer-navigation-item.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/back-button/back-button.tsx
  mobile/src/components/common/back-button/styles.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/fab/fab.tsx
  mobile/src/components/common/fab/styles.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/courses/components/add-course/add-course.tsx
  mobile/src/components/courses/components/add-course/common/constants/constants.ts
  mobile/src/components/courses/components/add-course/common/constants/create-course.constant.ts
  mobile/src/components/courses/components/add-course/style.ts
  mobile/src/components/courses/components/components.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/components/components.ts
  mobile/src/navigation/app/components/drawer-item/drawer-item.tsx
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#244 GRHB-272: * show selected data checked in tables
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-permissions-rows/get-permission-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/get-selected-items-values/get-selected-items-values.helper.ts
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam-configure-group/helpers/helpers.ts
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Labels: mobile

#254 GRHB-232: Fix buttons on group create screen
  mobile/src/assets/icons/plus.svg
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/ui/button-variant.enum.ts
  mobile/src/common/enums/ui/ui.ts
  mobile/src/components/common/button/button.tsx
  mobile/src/components/common/button/styles.ts
  mobile/src/components/uam/styles.ts
  mobile/src/components/uam/uam.tsx
Labels: mobile

#260 GRHB-203: * add color to FAB component, rename screen with add course
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/components/common/fab/fab.tsx
Labels: mobile

#263 GRHB-204: fetch-courses-by-search-mobile
  mobile/src/components/common/search/common/constants.ts
  mobile/src/components/common/search/search.tsx
  mobile/src/components/courses/components/course-card/styles.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
Labels: mobile

#271 GRHB-208: * fix loader position when group is editing
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Labels: mobile

#274 GRHB-276: * set width to screen header
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
Labels: mobile

#249 GRHB-261: + forbidden user to delete himself
  backend/src/api/users/users.api.ts
  backend/src/documentation/endpoints/users/users-delete.yaml
  backend/src/exceptions/exceptions.ts
  backend/src/exceptions/users-error/users-error.exception.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/uam/common/types/users-table-actions-props.type.ts
  frontend/src/components/uam/components/users-table/components/actions-cell/actions-cell.tsx
  frontend/src/components/uam/components/users-table/helpers/get-users-columns.helper.ts
  frontend/src/components/uam/components/users-table/users-table.tsx
  shared/src/common/enums/exceptions/custom-exception-name.enum.ts
  shared/src/common/enums/exceptions/exception-message.enum.ts
  shared/src/validation-schemas/user-details/user-details-update-info.validation-schema.ts
Labels: conflicts

#269 GRHB-263: course screen layout
  backend/package-lock.json
  backend/tests/package-lock.json
  frontend/package-lock.json
  mobile/package-lock.json
  mobile/package.json
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/content/content.tsx
  mobile/src/components/common/content/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/components/courses/components/course-card/course-card.tsx
  mobile/src/components/courses/courses.tsx
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
  mobile/src/helpers/sanitize/sanitize.ts
  mobile/src/hooks/hooks.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  shared/package-lock.json
  shared/package.json
  shared/src/helpers/sanitize/sanitize-html/sanitize-html.helper.ts
Labels: mobile

#270 GRHB-264: + course modules mobile
  mobile/src/common/types/course-modules/course-modules.ts
  mobile/src/common/types/types.ts
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/components/course-modules/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/services/course-modules-api/course-modules-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/course-modules/actions.ts
  mobile/src/store/course-modules/common.ts
  mobile/src/store/course-modules/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Labels: mobile

#304 GRHB-312: * fix checkbox filling
  mobile/src/components/uam-configure-group/components/permissions-table/permissions-table.tsx
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/uam-configure-group.tsx
Labels: mobile

#287 GRHB-206: + fetch courses by category
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/types/category/category.ts
  mobile/src/common/types/types.ts
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/courses/components/category-list/components/category/style.ts
  mobile/src/components/courses/components/category-list/style.ts
  mobile/src/components/courses/courses.tsx
  mobile/src/components/courses/styles.ts
  mobile/src/hooks/hooks.ts
  mobile/src/services/categories-api/categories-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/categories/actions.ts
  mobile/src/store/categories/common.ts
  mobile/src/store/categories/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Labels: mobile

#284 GRHB-274: add tests to CI
  .github/workflows/ci-integration.yml
  backend/package.json
  backend/tests/package.json
  backend/tests/src/tests/mocks/auth/sign-up/sign-up-request.mock.ts
Labels: tests

#309 GRHB-241: + add results section to pagination
  mobile/src/components/common/pagination/pagination.tsx
  mobile/src/components/common/pagination/styles.ts
Labels: mobile

#319 GRHB-304: * reformatted created at date in users table
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/users-table/users-table.tsx
  mobile/src/helpers/date/date.ts
  mobile/src/helpers/helpers.ts
Labels: mobile

#322 GRHB-297: "Select category" dropdown menu isn't displayed at the "Change category" pop-up menu after clicking on the "Arrow Icon"
  frontend/src/components/common/select/styles.module.scss
Labels: invalid

#324 GRHB-282: * change create group button view
  mobile/src/components/uam/uam.tsx
Labels: mobile

#334 GRHB-327: + add coursera, edx icons
  mobile/src/assets/images/vendors/coursera.svg
  mobile/src/assets/images/vendors/edx.svg
  mobile/src/components/courses/components/course-card/common/maps/vendor-key-to-image.map.ts
  mobile/src/components/courses/components/course-card/components/vendor-label/style.ts
Labels: mobile

#339 GRHB-263: * fix course image
  mobile/src/components/course/styles.ts
Labels: mobile

#338 GRHB-264: * sanitize module description and render as html
  mobile/src/components/common/content/content.tsx
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
Labels: mobile

#337 GRHB-304: * change date format and adjust column width to it
  mobile/src/components/uam-configure-group/components/users-table/users-table.tsx
  mobile/src/components/uam-configure-group/helpers/get-user-rows/get-user-rows.helper.tsx
  mobile/src/components/uam/users-table/users-table.tsx
Labels: mobile

#302 GRHB-333: add Allure and JUnit reports
  .github/workflows/ci-integration.yml
  .gitignore
  backend/tests/.mocharc.js
  backend/tests/.reporterrc.json
  backend/tests/env.js
  backend/tests/package-lock.json
  backend/tests/package.json
  backend/tests/src/lib/services/http/request-builder.ts
Labels: tests

#335 GRHB-226: get all permissions tests
  backend/tests/src/lib/services/permissions/permissions.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/auth/auth.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user-response.schema.ts
  backend/tests/src/tests/json-schemas/auth/current-user/current-user.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/json-schemas/permissions/all/all-permissions.schema.ts
  backend/tests/src/tests/json-schemas/permissions/all/all.ts
  backend/tests/src/tests/json-schemas/permissions/one/one.ts
  backend/tests/src/tests/json-schemas/permissions/permissions.ts
  backend/tests/src/tests/json-schemas/user/user-details/user-details.schema.ts
  backend/tests/src/tests/json-schemas/user/user-details/user-details.ts
  backend/tests/src/tests/json-schemas/user/user-with-permissions/user-with-permissions-response.schema.ts
  backend/tests/src/tests/json-schemas/user/user.ts
  backend/tests/src/tests/specs/auth/sign-in/sign-in.spec.ts
  backend/tests/src/tests/specs/auth/sign-up/sign-up.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
Labels: tests

#293 GRHB-266: Interviews Screen
  mobile/src/assets/icons/interview.svg
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/interviews/interview-status.enum.ts
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/enums/ui/app-color.enum.ts
  mobile/src/common/maps/category-key-to-image/category-key-to-image.map.ts
  mobile/src/common/maps/maps.ts
  mobile/src/common/types/interviews/interviews.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/category-image/category-image.tsx
  mobile/src/components/common/category-image/style.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/courses/components/category-list/common/maps/maps.ts
  mobile/src/components/courses/components/category-list/components/category/category.tsx
  mobile/src/components/interviews/common/constants/constants.ts
  mobile/src/components/interviews/common/constants/default-page-size.constants.ts
  mobile/src/components/interviews/common/enums/enums.ts
  mobile/src/components/interviews/common/enums/interviews-table-accessor.enum.ts
  mobile/src/components/interviews/common/maps/maps.ts
  mobile/src/components/interviews/common/maps/status-to-color.map.ts
  mobile/src/components/interviews/common/types/interviews-table-data.type.ts
  mobile/src/components/interviews/common/types/types.ts
  mobile/src/components/interviews/helpers/get-interviews-columns-helper/get-interviews-columns.helper.ts
  mobile/src/components/interviews/helpers/helpers.ts
  mobile/src/components/interviews/interviews-table/components/category-cell/category-cell.tsx
  mobile/src/components/interviews/interviews-table/components/category-cell/styles.ts
  mobile/src/components/interviews/interviews-table/components/components.ts
  mobile/src/components/interviews/interviews-table/components/status-cell/status-cell.tsx
  mobile/src/components/interviews/interviews-table/components/status-cell/styles.ts
  mobile/src/components/interviews/interviews-table/interviews-table.tsx
  mobile/src/components/interviews/interviews-table/styles.ts
  mobile/src/components/interviews/interviews.tsx
  mobile/src/components/interviews/styles.ts
  mobile/src/helpers/helpers.ts
  mobile/src/helpers/permissions/check-has-permission/check-has-permission.helper.ts
  mobile/src/helpers/permissions/permissions.ts
  mobile/src/navigation/app/common/constants.ts
  mobile/src/navigation/app/helpers/get-allowed-screens.helper.ts
  mobile/src/services/interviews-api/interviews-api.service.ts
  mobile/src/services/services.ts
  mobile/src/store/actions.ts
  mobile/src/store/interviews/actions.ts
  mobile/src/store/interviews/common.ts
  mobile/src/store/interviews/reducer.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
Labels: mobile

#348 GRHB-307: + Add 'Created' column to the 'Groups' table at /uam mobile
  mobile/src/components/uam/common/enums/groups-table-accessor.enum.ts
  mobile/src/components/uam/common/types/groups-table-data.type.ts
  mobile/src/components/uam/groups-table/groups-table.tsx
  mobile/src/components/uam/groups-table/helpers/get-columns-helper/get-columns.helper.ts
Labels: mobile

#286 GRHB-256: edit course category
  mobile/package-lock.json
  mobile/package.json
  mobile/src/assets/icons/edit.svg
  mobile/src/assets/icons/save.svg
  mobile/src/common/enums/navigation/app-screen-name.enum.ts
  mobile/src/common/types/courses/course-update-category-request-arguments-dto.type.ts
  mobile/src/common/types/courses/courses.ts
  mobile/src/common/types/navigation/app-navigation-param-list.type.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/ui/icon-name.type.ts
  mobile/src/components/common/common.tsx
  mobile/src/components/common/dropdown/dropdown.tsx
  mobile/src/components/common/dropdown/styles.ts
  mobile/src/components/common/icon/common/maps/icon-name-to-icon.map.ts
  mobile/src/components/course/components/category/category.tsx
  mobile/src/components/course/components/category/components/category-image/category-image.tsx
  mobile/src/components/course/components/category/components/category-image/style.ts
  mobile/src/components/course/components/category/components/components.ts
  mobile/src/components/course/components/category/helpers/get-random-color.helper.ts
  mobile/src/components/course/components/category/helpers/helper.ts
  mobile/src/components/course/components/category/style.ts
  mobile/src/components/course/components/components.ts
  mobile/src/components/course/components/edit-course-category/edit-course-category.tsx
  mobile/src/components/course/components/edit-course-category/styles.ts
  mobile/src/components/course/course.tsx
  mobile/src/components/course/styles.ts
  mobile/src/components/courses/components/category-list/category-list.tsx
  mobile/src/navigation/app/common/constants.ts
  mobile/src/services/courses-api/courses-api.service.ts
  mobile/src/store/courses/actions.ts
  mobile/src/store/courses/common.ts
  mobile/src/store/courses/reducer.ts
  mobile/src/validation-schemas/course/course.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#343 GRHB-227: get all categories test
  backend/tests/src/lib/common/constants/constants.ts
  backend/tests/src/lib/common/constants/objects.constants.ts
  backend/tests/src/lib/services/categories/categories.service.ts
  backend/tests/src/lib/services/services.ts
  backend/tests/src/tests/json-schemas/categories/all/all-categories.schema.ts
  backend/tests/src/tests/json-schemas/categories/all/all.ts
  backend/tests/src/tests/json-schemas/categories/categories.ts
  backend/tests/src/tests/json-schemas/categories/one/one-category.schema.ts
  backend/tests/src/tests/json-schemas/categories/one/one.ts
  backend/tests/src/tests/json-schemas/json-schemas.ts
  backend/tests/src/tests/specs/categories/get-all/get-all-categories.spec.ts
  backend/tests/src/tests/specs/permissions/get-all/get-all-permissions.spec.ts
Labels: tests

#346 GRHB-374: fix test reports action
  .github/workflows/ci-integration.yml
Labels: tests

#350 GRHB-264: * fix bug with modules loading
  mobile/src/components/course/components/course-modules/components/module/module.tsx
  mobile/src/components/course/components/course-modules/components/module/styles.ts
  mobile/src/components/course/components/course-modules/course-modules.tsx
  mobile/src/components/course/course.tsx
Labels: mobile

#347 GRHB-268: profile screen
  mobile/src/assets/images/avatar-default.png
  mobile/src/common/enums/api/api.ts
  mobile/src/common/enums/enums.ts
  mobile/src/common/enums/user/user.enum.ts
  mobile/src/common/types/types.ts
  mobile/src/common/types/user-details/user-details.ts
  mobile/src/components/setting/common/contants.ts
  mobile/src/components/setting/setting.tsx
  mobile/src/components/setting/styles.ts
  mobile/src/services/services.ts
  mobile/src/services/user-details-api/user-details-api.service.ts
  mobile/src/store/actions.ts
  mobile/src/store/root-reducer.ts
  mobile/src/store/store.ts
  mobile/src/store/user-details/actions.ts
  mobile/src/store/user-details/common.ts
  mobile/src/store/user-details/reducer.ts
  mobile/src/validation-schemas/user-details/user-details.ts
  mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile
